<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Ein- und Auszahlen</title>
    </head>
    <body>
        <h1>Ein- und Auszahlen auf dein Bankkonto</h1>
        <h2>Bitte gib unten ein Konto und den Betrag ein.</h2>
        <form method="POST">
            kontonummer (von 1-4): <input type="text" name="kontonummer" placeholder="Kontonummer 1-4">
            Betrag: <input type="text" name="betrag" placeholder="Betrag">
            <button type="submit">Senden</button>
        </form>
    </body>
</html>